.blockButtonFilter {
  display: flex;
  flex-shrink: 1;
  justify-content: center;

  width: 100%;
  padding-top: 10px;

}

.titleFirstTask {
  padding: 10px;
  color: grey;
}

.deleteIcon {
  display: flex;
  align-items: center;

  width: 100%;

  background: inherit;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  &:hover {
    cursor: pointer;
    background: #fc4878;
  }

  > svg {
    margin: 0 auto;
    fill: white;
  }

}

.contentTodo {
  gap: 2rem;

  min-width: 300px;
  margin: 8px;

  background: rgb(34 34 34);
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-radius: 30px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;


  margin-bottom: 5px;

  text-align: center;

  background: rgb(34 34 34);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  transition: background-color 0.2s ease 0s;

  -webkit-box-align: center;
  -webkit-box-pack: center;


  &:hover {
    background: rgb(40 40 40);
  }
}

.contentBlock {
  user-select: none;


  display: flex;
  flex-direction: column;

  width: 300px;
  padding: 8px 8px 0;

  opacity: inherit;
  border: 8px;

  transition: background-color 0.2s ease 0s, opacity 0.1s ease 0s;
}

.taskContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 350px;
}

.taskblock {
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  max-height: 180px;
  margin-top: 1rem;
  padding-right: 5px;

  background: inherit;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4c4c4c;
    border-radius: 3px;

    &:hover {
      background-color: #808080;
    }
  }

}

.addedDate {
  display: flex;
  justify-content: space-around;
  color: #ccc;
  background-color: inherit;
}

.addTask {
  display: flex;
  flex-direction: column;
  width: 100%;
}